apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: myapp_argo_application
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/rinnguyen2/myapp_ops.git
    targetRevision: HEAD
    path: app
  destination:
    server: https://kubernetes.default.svc
    namespace: myapp
